.content-wrapper {
    container-type: inline-size; /*container querys*/
    padding-top: 70px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    margin-left: var(--sidebar-width);
}



.content-wrapper.collapsed {
    margin-left: 0;
}

.content {
  min-height: 250px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 30px 0px;
}


@container (width <= 40rem) {
    .select-trigger {
        width: 100% !important;
    }

    .content {
        padding:30px 1rem 0px;
    }

    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}
