.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: 500;
}

.form-group.has-success .help-block {
  color: var(--success);
}

.form-group.has-success label {
  color: var(--success);
}

.form-control.has-success .form-control {
  border-color: var(--success);
  box-shadow: none;
}

.form-control.form-group.has-success .input-group-addon {
  border-color: var(--success);
  box-shadow: none;
}

/*--- danger ---*/

.form-group.has-error .help-block {
  color: var(--danger);
}

.form-group.has-error label {
  color: var(--danger);
}

.form-group.has-error .form-control {
  border-color: var(--danger);
  box-shadow: none;
}

.form-gorup.has-error .input-group-addon {
  border-color: var(--danger);
  box-shadow: none;
}

/*--- warning ---*/
.form-group.has-warning .help-block {
  color: var(--warning);
}

.form-group.has-warning label {
  color: var(--warning);
}

.form-group.has-warning .form-control {
  border-color: var(--warning);
  box-shadow: none;
}

.form-group.has-warning .input-group-addon {
  border-color: var(--warning);
  box-shadow: none;
}

.dark-skin .form-control {
  border-color: rgba(var(--white), 0.12);
  background-color: var(--dark3);
  color: var(--dark-text);
}

.dark-skin .form-element .form-control:focus {
  background-image: linear-gradient(#FFB800, #FFB800), linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
}

.form-control:not(select) {
  appearance: none;
}



.form-control {
  display: block;
  box-shadow: none;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.form-control {
  border-radius: var(--fct-border-radius) !important;
  box-shadow: none;
  border-color: var(--light-d-10);
  height: auto;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.dark-skin .form-select {
  border-color: rgba(var(--white), 0.12);
  background-color: var(--dark3);
  color: var(--dark-text);
  border-radius: var(--fct-border-radius) !important;
  border-color: var(--light-d-10);
}

.form-select {
  box-shadow: none;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  background-clip: padding-box;

}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row>.col,
.form-row>[class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}