/* dark skin */
.dark-skin .table {
    color: var(--foreground);
}

.dark-skin .table>thead.thead-light th {

    background-color: var(--background);
    color: var(--title);

}

.dark-skin .table>tr>th {
    border-color: rgba(var(--foreground), 0.12);
}

.dark-skin .table>tr>td {
    border-color: rgba(var(--foreground), 0.12);
}

.dark-skin .table>tbody>tr>td {
    border-color: rgba(var(--foreground), 0.12);
}

.dark-skin .table>tbody>tr>th {
    border-color: rgba(var(--foreground), 0.12);
}

.dark-skin .table>tfoot>tr>td {
    border-color: rgba(var(--foreground), 0.12);
}

.dark-skin .table>tfoot>tr>th {
    border-color: rgba(var(--foreground), 0.12);
}


/*  table responsive */

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-responsive>.table-bordered {
    border: 0;
}

.table-responsive>.table tr td,
.table-responsive>.table tr th {
    white-space: normal;
}

/* table */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    clear: both;
    max-width: none;
}

.table.nowrap {
    white-space: nowrap;
}

.table th,
.table td {
    box-sizing: content-box;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid var(--foreground);
}

.table thead.thead-light th {
    background-color: var(--body-dark);
    color: var(--dark-title);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--foreground);
}

.table tbody+tbody {
    border-top: 2px solid var(--foreground);
}

/* table striped */

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* table bordered */

.table-bordered {
    border: 1px solid #dee2e6;
    border-color: rgba(var(--foreground), 0.12);
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;

}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th {
    border-color: rgba(var(--foreground), 0.12);
}

.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th {
    border-color: rgba(var(--foreground), 0.12);
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-color: rgba(var(--foreground), 0.12);
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody+tbody {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

.table-container {
    display: flex;
    flex-direction: column;
}

/*---pagination---*/

.pagination-wrapper {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.pagination-wrapper .paginate-button {
    /*Layout*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* gap-2 */
    width: 2.25rem;
    /* w-9 (9 * 0.25rem) */
    height: 2.25rem;
    /* h-9 */
    flex-shrink: 0;
    /* shrink-0 */
    /*
            min-width: 1.5em;
            padding: .5em 1em;
            margin-left: 2px;*/

    cursor: pointer;
    /* Text */
    white-space: nowrap;
    font-size: 0.875rem;
    /* text-sm */
    font-weight: 500;
    /* font-medium */
    text-align: center;
    text-decoration: none;

    /* Background & Text Colors (light mode) */
    background-color: transparent;
    color: inherit;

    /* Appearance */
    border-radius: 0.375rem;
    /* rounded-md */
    border: 1px solid;
    /* border */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    /* shadow-xs */

    /* Transitions */
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    /* Focus */
    outline: none;
}

.pagination-wrapper .paginate-button:disabled,
.pagination-wrapper .paginate-button:disabled:active,
.pagination-wrapper .paginate-button:disabled:hover {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

.pagination-wrapper .paginate-button:hover {
    background-color: color-mix(in srgb, var(--primary) 50%, transparent);
    color: var(--foreground-dark);
    border: 1px solid transparent;
}

.pagination-wrapper .paginate-button.active {
    background-color: color-mix(in srgb, var(--foreground) 80%, transparent);
    color: var(--dark);
    border: 1px solid transparent;
}


.pagination-wrapper .ellipsis {
    padding: 0 1em;
}


.paginate-button svg {
    pointer-events: none;
    flex-shrink: 0;
}

/* size-4 */
.paginate-button svg:not([class*="size-"]) {
    width: 1rem;

    height: 1rem;
}
