/* dark skin */
.dark-skin .table {
    color: var(--dark-text);
}

.dark-skin .table>thead.thead-light th {

    background-color: var(--body-dark);
    color: var(--dark-title);

}

.dark-skin .table>tr>th {
    border-color: rgba(var(--white), 0.12);
}

.dark-skin .table>tr>td {
    border-color: rgba(var(--white), 0.12);
}

.dark-skin .table>tbody>tr>td {
    border-color: rgba(var(--white), 0.12);
}

.dark-skin .table>tbody>tr>th {
    border-color: rgba(var(--white), 0.12);
}

.dark-skin .table>tfoot>tr>td {
    border-color: rgba(var(--white), 0.12);
}

.dark-skin .table>tfoot>tr>th {
    border-color: rgba(var(--white), 0.12);
}


/*  table responsive */

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-responsive>.table-bordered {
    border: 0;
}

.table-responsive>.table tr td,
.table-responsive>.table tr th {
    white-space: normal;
}

/* table */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    clear: both;
    max-width: none;
}

.table.nowrap {
    white-space: nowrap;
}

.table th,
.table td {
    box-sizing: content-box;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead.thead-light th {
    background-color: var(--body-dark);
    color: var(--dark-title);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

/* table striped */

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* table bordered */

.table-bordered {
    border: 1px solid #dee2e6;
    border-color: rgba(var(--white), 0.12);
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;

}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th {
    border-color: rgba(var(--white), 0.12);
}

.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th {
    border-color: rgba(var(--white), 0.12);
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-color: rgba(var(--white), 0.12);
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody+tbody {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

.table-container {
    display: flex;
    flex-direction: column;
}

/*---pagination---*/

.pagination-wrapper {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    padding-top: .25em;
}

.pagination-wrapper .paginate-button{
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: .5em 1em;
            margin-left: 2px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            color: var(--black-l-45);
            border: 1px solid transparent;
            border-radius: 2px;
}

.pagination-wrapper ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end
}



.pagination-wrapper .paginate-button.current,
.pagination-wrapper .paginate-button.current:hover {
    color: #ffffff;
}

.pagination-wrapper .paginate-button.disabled,
.pagination-wrapper .paginate-button.disabled:active,
.pagination-wrapper .paginate-button.disabled:hover {
    cursor: not-allowed;
    color: var(--dark-l-45);
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.pagination-wrapper .paginate-button:hover {
    color: #ffffff;
    background-color: var(--theme-primary-primary);
}

.pagination-wrapper .paginate-button:active {
    outline: 0;
    background-color: var(--black-l-45);
}

.pagination-wrapper .ellipsis {
    padding: 0 1em;
}

.pagination-wrapper.paging_simple_numbers .pagination .paginate-button a {
    padding: .5em 1em;
    border-radius: 2px;
    border: 0;
    margin: 0;
    min-width: 1.5em;
}

/* paging_simple_numbers*/

.paging_simple_numbers .pagination .paginate-button {
    padding: 0;
}

.paging_simple_numbers .pagination .paginate-button:hover { 
    background-color: transparent;
}

.paging_simple_numbers .pagination .paginate-button:hover a {
    color: #ffffff;
}

.paging_simple_numbers .pagination .paginate-button a {
    padding: .5em 1em;
    border-radius: 2px;
    border: 0 ;
    margin: 0;
	min-width: 1.5em;
}

.paging_simple_numbers .pagination .paginate-button.active a {
    color: white; 
}

/* .pagination */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.pagination li a{
        box-sizing: border-box;
        display: inline-block;
        min-width: 50px;
        padding: 1rem;
        margin: 0 3px;
        text-decoration: none;
        cursor: pointer;
        color: var(--black-l-45);
        border: 1px solid transparent;
        border-radius: 2px;
        text-align: center;
}
.pagination li a.current {
    color: white !important; 
}

.pagination li a.current:hover {
    color: white !important; 
}

.pagination li a:hover {
    color: white !important; 
}


.page-link{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

/* colors*/


.pagination li a.current {
    border: 1px solid #0F5EF7;
    background-color: #0F5EF7;
}

.dark-skin .pagination > li > a {
    background-color: var(--dark); 
    color: var(--dark-text);
}

.dark-skin .paging_simple_numbers .pagination .paginate-button { 
    background-color: transparent;
}

.dark-skin .paging_simple_numbers .pagination .paginate-button:hover { 
    background-color: transparent;
}

.dark-skin .page-item.disabled .page-link{
                color: var(--dark-text);
                background-color: var(--body-dark);
                border-color: rgba(255,255,255, 0.12);

}

.dark-skin .pagination li a.current:hover {
    border: 1px solid #0F5EF7;
    background-color: #0F5EF7;
}

.dark-skin .pagination li a:hover {
    border: 1px solid #074acc;
    background-color: #074acc !important;
}

.dark-skin .pagination-wrapper .paginate-button.current {
    border: 1px solid #0F5EF7;
    background-color: #0F5EF7;
}

.dark-skin .pagination-wrapper .paginate-button.current:hover {
    border: 1px solid #0F5EF7;
    background-color: #0F5EF7;
}

.dark-skin .paging_simple_numbers .pagination .paginate-button.active a {
    background-color: #0F5EF7;
}

.dark-skin .paging_simple_numbers .pagination .paginate-button:hover a {
    background-color: #0F5EF7;
}